{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "react/no-danger": "off",
    "arrow-parens": "off",
    "no-return-assign": "off",
    "max-len": "off",
    "no-confusing-arrow": 0,
    "array-callback-return": "off",
  }
}