body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.jampp__Heatmap__Loading,
.jampp__Heatmap__Form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.jampp__Heatmap__Loading {
  background: #fff;
  z-index: 1;
}

.jampp__Heatmap__Form__Button {
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background: #36355B;
  font-size: 20px !important;
  padding: 10px 20px !important;
}

.jampp__Heatmap__Form__Button:hover {
  color: #fff;
}

.react-file-reader {
  display: inline-block;
  margin-right: 16px;
}